.message
  background: #fff2d6
  border-radius: 8px
  padding: 6px 16px
  margin: 0 15px 10px
  font-size: 14px
  line-height: 24px

  &.error
    background: #ffc8c8

  @media only screen and (max-width: 768px)
    margin: 0 5px 10px

  .title
    font-weight: 500
    margin: 0 0 0 0

  .content
    margin: 0
    padding: 0
